/*  your css code here. If applicable */
h1{
	text-align:center;

}
h2{
	text-align:center;
	
}
body{
	background-color: rgb(204, 204, 204)
}
#box1{
	display: flex;
	text-align: left;
	border: 1px solid black;
	margin:20px;
	border-radius: 10px;
	background-color:white;
	
}


#box a{
	text-decoration-line:none;
}


#box2{
	height: 500px;
	
	text-align: left;
	border: 1px solid black;
	margin:40px;
	padding:20px;
	border-radius: 10px;
	background-color:white;
	justify-content: center;
	
	
}
.player_one{
	height:350px;
	width:80vw;
	 background-color: rgb(255, 255, 255); padding; border-radius
}
.player_two{
	width:80vw;
	background-color: rgb(255, 255, 255); padding; border-radius
}
